<% provide(:title, "About") %>
<h1>About</h1>
<p style="text-align: center">
  “It's a dangerous business, Frodo, going out your door. <br>
  You step onto the road, and if you don't keep your feet, <br>
  there's no knowing where you might be swept off to.” 
</p>