<% provide(:title, "Help") %>
<h1>Help</h1>
<p style="text-align: center">
“If by my life or death I can protect you, I will. You have my sword…"<br>
"…and you have my bow…"<br>
"…and my axe.”<br>
</p>