<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <div class="col-md-8">
      <!--<h3>Micropost Feed</h3>-->
     <!-- <%= render 'shared/feed' %>-->
    </div>
  </div>
<% else %>
  <h1>Welcome to Letterhead</h1>
    <h3>
      A place where letters of recommendation are drafted.
    </h3>
  <div id="center"><%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %></div>
<% end %>


