<li id="student-<%= student.id %>">
  <span class="user"><%= link_to student.name, student %> </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(student.created_at) %> ago.
  </span>
</li>