<% provide(:title, 'Create Student') %>
<h1>New Student</h1>

<div class="row">
 <div class="col-md-6 col-md-offset-3">
    <%= form_for(@student) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <%= hidden_field_tag :user, @student.user %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

    <div class="radio-inline">
      <%= f.radio_button(:gender, 1) %>
      <%= f.label(:gender, "Male", value:1) %> 
      <span style="margin-left:2em"><%= f.radio_button(:gender, 0) %> </span>
      <%= f.label(:gender, "Female", value:0) %>
   </div>
    <p></p>
    
      <%= f.label :date_known %>
      <%= f.date_field :date_known, class: 'form-control'%>

      <%= f.label :student_class, "Class student has been in" %>
      <%= f.text_field :student_class, class: 'form-control' %>
      
      <%= f.label :employment, "Student Research/Employment" %>
      <%= f.text_field :employment, class: 'form-control' %>

      <%= f.submit "Create Student", class: "btn btn-primary" %>
    <% end %>
   
  </div>
</div>