<% provide(:title, @student.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="student_info">
      
       <h4> <span style="padding-top:0.6em"><%= @student.name %></span> </h4>
       <p><%=link_to "Edit", edit_student_path(@student) %> | <%= link_to "Delete", @student, method: :delete,
                                  data: { confirm: "You sure?" } %></p>
       <p><%=link_to "Create New Letter", new_student_letter_path(@student) %></p>
       <p>Professor: <%= @student.user.name %> </p>
       <% if @student.gender == 1%>
       <span><p>Gender: Male</p></span>
       <% else %>
       <span><p>Gender: Female</p></span>
       <% end %>
       <% if @student.letters.size!=0%>
           <%@letters = @student.letters%>
           <p>Letter Ratings: 
               <%@letters.each do |l|%>
                   <%=link_to l.rating, student_letter_path(@student, l)%>
               <%end%>
               </p>
        <%end%>
       <% if !@student.student_class.blank?%>
       <span><p>Taken Class: <%= @student.student_class %></p></span>
       <%end%>
       <% if !@student.employment.blank?%>
       <span><p>Research/Employment: <%= @student.employment %></p></span>
       <%end%>
       <% if !@student.date_known.blank?%>
       <span><p>Known since: <%= @student.date_known.strftime("%B %d, %Y") %></p></span>
       <%end%>
       
    </section>
  </aside>
</div>