<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <%= will_paginate %>
      <ul class="users">
         <%= render @users %>
      </ul>
      <%= will_paginate %>
  </div>
  <div class="col-sm-3"></div>
</div>