<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h4>
        <%= gravatar_for @user %>
        <span style="padding-top:0.5em"><%= @user.name %></span>
        <span><p><%= link_to "Create New Student", new_student_path %></p></span>
      </h4>
      
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.students.any? %>
      <h3>Students (<%= @user.students.count %>)</h3>
      <ol class="students">
        <%= render @students %>
      </ol>
      <%= will_paginate @students %>
    <% end %>
  </div>
</div>

