<%= link_to gravatar_for(current_user, size: 50), current_user %>
<span style="font-size: 1.6em"><%= current_user.name %></span>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.students.count, "student") %></span>
