<% provide(:title, 'Create Letter') %>
<% @student = Student.find(params[:student_id]) %>
<h4 style="text-align:center">New Letter for <%=@student.name%></h4>

<div class="row">
 <div class="col-md-6 col-md-offset-3">
    <%= form_for [@student, @letter] do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <%= hidden_field_tag :user, @student.user %>
      
      <%= f.label :rating %>
      <%= f.select :rating, options_for_select(1..10) %>

     <% Word.all.each do |word| %>
        <%= f.label :words, class: "checkbox inline" do %>
          <%= check_box_tag 'letter[words][]', word.content, @letter.words.include?(word.content) %>
          <span><%=word.content%></span>
        <% end %>
      <%end%>

      <%= f.submit "Create Letter", class: "btn btn-primary" %>
    <% end %>
   
  </div>
</div>