<% provide(:title, @student.name + " Letter" ) %>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <section class="letter_info">
      <h4> <span style="padding-top:0.6em"> Letter for <%= @student.name %></span> </h4>
      <strong>Rating:</strong> <%= @letter.rating %><br><br>
    
      <%if(@letter.saved.nil? || !@letter.saved) %>
        <% @rating = @letter.rating %>
        <% @letterLength = @rating+6%>
        <% @lowNum, @midNum, @topNum = 0 %>
        <% @midNum = (@letterLength * 0.6).round %>
        <%if @rating < 10 && @rating > 1%>
          <% @topNum = (@letterLength * 0.2).round %>
          <% @lowNum = (@letterLength * 0.2).round %>
        <% elsif @rating == 1 %>
          <% @topNum = (@letterLength * 0.4).round %>
        <% else %>
          <% @lowNum = (@letterLength * 0.2).round %>
        <%end%>

      <% @wordsLength = @letter.words.size %>
      <% @randNum = rand(1..@wordsLength-2) %>
      <% @wordsLength = @wordsLength - @randNum %>
      <% while @randNum != 0 %>
        <% @randWord =  @letter.words.sample %>
          <% @wordMod = Word.where(content: @randWord).take %>
          <% if !@wordMod.nil? %>
            <% @letter.sentences.push(@wordMod.sentence) %>
            <% @letter.words.delete(@randWord) %>
            <%@randNum -= 1 %>
          <%end%>
        <% @letter.words %>
      <%end%>
       
      <% @numAdLib = (@wordsLength/2).floor %> 
      <% until @midNum == 0 do %> 
        <%Sentence.order("RAND()").where(rating: @rating).find_each do |sent| %>
          <% if !sent.used  && sent.adlib && @numAdLib != 0 && @wordsLength>=3%>
            <% @letter.sentences.push(sent.content)%>
            <% sent.used = true %>
            <% @numAdLib -= 1%>
          <%elsif !sent.used && !sent.adlib %>
            <% @letter.sentences.push(sent.content)%>
            <% sent.used = true %>
          <%end%>
          <% sent.save %>
        <%end%>
        <% @midNum -= 1%>
      <%end%>
      
      <% until @midNum == 0 do %> 
        <%Sentence.order("RAND()").where(rating: @rating+1).find_each do |sent| %>
          <% if !sent.used  && sent.adlib && @numAdLib != 0 && @wordsLength>=3%>
            <% @letter.sentences.push(sent.content)%>
            <% sent.used = true %>
            <% @numAdLib -= 1%>
          <%elsif !sent.used && !sent.adlib %>
            <% @letter.sentences.push(sent.content)%>
            <% sent.used = true %>
          <%end%>
          <% sent.save %>
        <%end%>
        <% @topNum -= 1 %>
      <%end%>
        
      <% until @lowNum == 0 do %> 
        <%Sentence.order("RAND()").where(rating: @rating-1).find_each do |sent| %>
          <% if !sent.used  && sent.adlib && @numAdLib != 0 && @wordsLength>=3%>
            <% @letter.sentences.push(sent.content)%>
            <% sent.used = true %>
            <% @numAdLib -= 1%>
          <%elsif !sent.used && !sent.adlib %>
            <% @letter.sentences.push(sent.content)%>
            <% sent.used = true %>
          <%end%>
          <% sent.save %>
        <%end%>
        <% @lowNum -= 1%>
      <%end%>
    
        
        <% if @student.gender == 1 %>
            <% @pos = "his" %>
            <% @pronoun = "he" %>
            <% @pastPro = "him" %>
        <% else %>
            <% @pos = "her" %>
            <% @pronoun = "she" %>
            <% @pastPro = "her" %>
        <%end%>
              
        <% @letter.sentences.each do |sent| %>
          <% sent.gsub!('%name%', @student.name.split(" ")[0]) %>
          <% sent.gsub!('%pronoun%', @pronoun)%>
          <% sent.gsub!('%pos%', @pos)%>
          <% sent.gsub!('%pastPro%', @pastPro)%>
          <% sent.gsub!('%capPronoun%', @pronoun.capitalize)%>
          <% sent.gsub!('%capPos%', @pos.capitalize)%>
          <% sent.gsub!('%capPastPro%', @pastPro.capitalize)%>
          
          <% if sent.include?('%word') %>
              
            <% @goodWord = Word.where(content: @letter.words[0], rating: 1).take %>
            <% if !@goodWord.nil? %>
              <% sent.gsub!('%word1%', @goodWord.content)%>
              <% @letter.words.delete(@goodWord.content) %>
            <% end %>
            
            <% @goodWord = Word.where(content: @letter.words[0], rating: 1).take %>
            <% if !@goodWord.nil? %>
              <% sent.gsub!('%word2%', @goodWord.content)%>
              <% @letter.words.delete(@goodWord.content) %>
            <% end %>
            
            
            <% @badWord = Word.where(content: @letter.words[0], rating: 0).take %>
            <% if !@badWord.nil? %>
              <% sent.gsub!('%word3%', @badWord.content)%>
              <% @letter.words.delete(@badWord.content) %>
            <% end %>
            
            <% @badWord = Word.where(content: @letter.words[0], rating: 0).take%>
            <% if !@badWord.nil? %>
              <% sent.gsub!('%word4%', @badWord.content)%>
              <% @letter.words.delete(@badWord.content) %>
            <%end%>
          <% end %>
      <%end%>
        <%@letter.saved = true%>
        <%@letter.save!%>
      <%end%>
      
       <% @letter.sentences.shuffle.each do |sent| %>
          <%= sent %>
      <%end%>
      
      <% Sentence.update_all(used: false) %>
      
    
       
    </section>
  </div>
  <div class="col-sm-3"></div>
</div>